.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--color-surface);
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: var(--popup-body-max-height);
  overflow-y: auto;
  overflow-x: hidden;
}

